spring:
  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        connection:
          driver_class: org.postgresql.Driver
  datasource:
    url: jdbc:postgresql://dpg-d4rahfv5r7bs73f5mno0-a/tourdb_jaae
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  brevo:
    api-key: ${BREVO_API_KEY}
    url: https://api.brevo.com/v3/smtp/email
